<div class="meta d-flex align-items-center mb-4">
    <div class="user me-4">
        {% include "patterns/atoms/avatar/avatar.html" %}
    </div>
    <div class="user me-4">
        {{ page.records }} records
    </div>
    <div class="me-2">
        <a href="#" class="d-flex align-items-center me-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#commentModal">
            <span class="material-icons me-1" role="presentation">insert_comment</span>
            <span class="text-decoration-underline">Comments ({{ page.comments }})</span>
        </a>
    </div>
    <div class="me-4">
        <a href="#" class="d-flex align-items-center me-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#historyModal">
            <span class="material-icons me-1" role="presentation">history</span>
            <span class="text-decoration-underline">History</span>
        </a>
    </div>
    <div class="me-4">
        <a href="#" class="d-flex align-items-center me-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#timeModal">
            <span class="material-icons me-1" role="presentation">timelapse</span>
            <span class="text-decoration-underline">{% if page.release_date %} Release on {{ page.release_date }}{% else %} Add a release/target date{% endif %}</span>
        </a>
    </div>
    {% if page.project %}
        <div class="me-4">
            <a href="{{ page.project.link }}" class="d-flex align-items-center me-2 text-decoration-none">
                <span class="material-icons me-1" role="presentation">folder_special</span>
                <span class="text-decoration-underline">Part of {{ page.project.title }}</span>
            </a>
        </div>
    {% endif %}
    <div class="me-4">
        <a href="#" class="d-flex align-items-center me-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#abandonModal">
            <span class="material-icons me-1" role="presentation">delete</span>
            <span class="text-decoration-underline">Abandon</span>
        </a>
    </div>
</div>
