{% extends "patterns/base_page.html" %}

{% block content %}
<div class="app__width-container">

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% include "patterns/molecules/page-heading/page-heading.html" %}
                <form action="{{ page.next_page }}" class="w-75">
                    <div class="bg-white mb-4 rounded-1 overflow-hidden p-4 pb-5">
                        <label for="formFileLg" class="form-label">Upload your document</label>
                        <input class="form-control form-control-lg" id="formFileLg" type="file" />
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-primary me-3">Create edit set</button>
                        <a href="create-empty-edit-set.html">I don’t have a document, create an empty edit set</a>
                    </div>
                </form>

            </div>
        </div>


    </main>
</div>
{% endblock %}
