{% extends "patterns/base_page.html" %}

{% block content %}
<div class="app__width-container">
    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% include "patterns/molecules/page-heading/page-heading.html" %}

                <form class="form w-75 mb-5" action="{{ page.next_page }}" method="get" novalidate>

                    <div class="bg-white mb-5 rounded-1 overflow-hidden p-4 pb-0">
                        {% include "patterns/atoms/radios/radios.html" with field=questionOne %}
                    </div>

                    {% include "patterns/atoms/button/button.html" with field=action %}

                </form>

            </div>
        </div>


    </main>
</div>
{% endblock %}
