{% extends "patterns/base_page.html" %}

{% block content %}
<div class="app__width-container">

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% include "patterns/molecules/page-heading/page-heading.html" %}
                <form action="{{ page.next_page }}" class="w-75">
                    <div class="d-flex align-items-center">
                        <button class="btn btn-primary me-3">Create edit set</button>
                    </div>
                </form>

            </div>
        </div>


    </main>
</div>
{% endblock %}
