<div class="mb-4">
  {% if field.label %} <h2>{{ field.label }}</h2>{% endif %}
  {% if field.hint %}
  <span id="{{ id }}-hint" class="fs-6">
    {{ field.hint }}
  </span>
  {% endif %}
  <div class="{% if field.modifier %}{{ field.modifier }}{% endif %}">
    {% for option in field.options %}
    <div class="">
      <input class="me-1" id="{{ option.id }}" name="{{ field.id }}" type="checkbox"
        value="{{ option.label }}" {% if option.checked %}checked{% endif %}>
      <label class="mb-2" for="{{ option.id }}">
        {{ option.label }}
      </label>
    </div>
    {% endfor %}
  </div>
</div>
