{% extends "patterns/base_page.html" %}

{% load static %}


{% block content %}
<div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% include "patterns/molecules/page-heading/page-heading.html" %}

            <div class="meta d-flex align-items-center mb-4">
                <div class="user me-4">
                    <img src="{% static 'images/avatar_1.jpg' %}" title="Nick Lee" alt="Nick Lee" class="avatar avatar--small" data-bs-toggle="tooltip" data-bs-placement="bottom">
                </div>
                <div class="user me-4">
                    {{ page.records }} records
                </div>
                <div class="me-2">
                    <a href="#" class="d-flex align-items-center me-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#commentModal">
                        <span class="material-icons me-1" role="presentation">insert_comment</span>
                        <span class="text-decoration-underline">Edit set comment ({{ page.comments }})</span>
                    </a>
                </div>
                <div class="me-4">
                    <a href="#" class="d-flex align-items-center me-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#historyModal">
                        <span class="material-icons me-1" role="presentation">history</span>
                        <span class="text-decoration-underline">Edit set history</span>
                    </a>
                </div>
                {% if page.release_date %}
                    <div class="me-4">
                        <a href="#" class="d-flex align-items-center me-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#timeModal">
                            <span class="material-icons me-1" role="presentation">timelapse</span>
                            <span class="text-decoration-underline">Release on {{ page.release_date }}</span>
                        </a>
                    </div>
                {% endif %}
                {% if page.project %}
                    <div class="me-4">
                        <a href="#" class="d-flex align-items-center me-2 text-decoration-none">
                            <span class="material-icons me-1" role="presentation">folder_special</span>
                            <span class="text-decoration-underline">Part of {{ page.project }}</span>
                        </a>
                    </div>
                {% endif %}
                <div class="me-4">
                    <a href="#" class="d-flex align-items-center me-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#abandonModal">
                        <span class="material-icons me-1" role="presentation">delete</span>
                        <span class="text-decoration-underline">Abandon edit set</span>
                    </a>
                </div>
            </div>

            <div class="filters row mb-4">
                <h2 class="visually-hidden">Filter records by:</h2>
                <div class="col">
                    {% include "patterns/atoms/text-input/text-input.html" with field=filterSearch label_hidden=True %}
                </div>
                <div class="col">
                    {% include "patterns/atoms/select/select.html" with field=selectOne label_hidden=True %}
                </div>
                <div class="col">
                    {% include "patterns/atoms/select/select.html" with field=selectTwo label_hidden=True %}
                </div>
            </div>

            {% if filter_summary %}
                <div class="mb-4">
                    <h2 class="filter-summary">{{ filter_summary }}</h2>
                    {% if filter_summary_action %}
                        <button type="button" class="btn btn-primary">Edit record set</button>
                    {% endif %}
                </div>
            {% endif %}

        </div>
    </div>

    <div>
        <div class="bg-white p-3 border mb-5">
            <table class="table table-hover table--sticky-header">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Last edited</th>
                        <th scope="col">Access</th>
                        <th scope="col">Date</th>
                        <th scope="col">Parent record set(s)</th>
                        <th scope="col">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="select-all" name="select-all" type="checkbox"
                                    value="select-all">
                                <label class="fs-5 mb-2 govuk-checkboxes__label visually-hidden" for="select-all">
                                    Select all
                                </label>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in records %}
                        {% include "patterns/molecules/record-overview/record-overview.html" with item=item %}
                    {% endfor %}
                </tbody>
            </table>

            <nav class="mt-4 mb-3" aria-label="Pagination">
                <ul class="pagination">
                  <li class="page-item disabled"><a class="page-link" aria-disabled="true" tabindex="-1" href="#">Previous</a></li>
                  <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
        </div>
    </div>

    {% include "patterns/organisms/modal/history-modal.html" %}
    {% include "patterns/organisms/modal/comment-modal.html" %}
    {% include "patterns/organisms/modal/time-modal.html" %}
    {% include "patterns/organisms/modal/add-comment-modal.html" %}
    {% include "patterns/organisms/modal/abandon-modal.html" %}

</div>

{% endblock %}


{% block extra_js %}
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endblock %}
