{% extends "patterns/base_page.html" %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<div class="app__width-container">
    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% include "patterns/molecules/page-heading/page-heading.html" %}

                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="/pattern-library/render-pattern/patterns/flows/contributions/login.html">Contributions login</a></li>
                    <li><a href="/pattern-library/render-pattern/patterns/flows/manager/login.html">Manager login</a></li>
                </ul>

            </div>
        </div>

    </main>
</div>
{% endblock %}

