<div class="meta d-flex flex-column align-items-start mb-4">
    <div class="mb-2">

        <a href="#" class="d-flex align-items-center me-2 text-decoration-none" data-bs-toggle="modal" {% if comments %}data-bs-target="#commentModal"{% else %}data-bs-target="#addcommentModal"{% endif %}>
            <span class="material-icons me-1" role="presentation">insert_comment</span>
            <span class="text-decoration-underline">{% if comments %}Comments ({{ page.comments }}){% else %}Add comment{% endif %}</span>
        </a>
    </div>
    <!-- {% if page.access %}
    <div class="mb-2">
        <a href="#access" class="d-flex align-items-center me-2 text-decoration-none">
            <span class="material-icons me-1" role="presentation">key</span>
            <span class="text-decoration-underline">{{ page.access }}</span>
        </a>
    </div>
    {% endif %} -->
    {% if history %}
        <div class="mb-2">
            <a href="#" class="d-flex align-items-center me-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#historyModal">
                <span class="material-icons me-1" role="presentation">history</span>
                <span class="text-decoration-underline">History</span>
            </a>
        </div>
    {% endif %}
    <div class="mb-2">
        <a href="#" class="d-flex align-items-center me-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#abandonModal">
            <span class="material-icons me-1" role="presentation">delete</span>
            <span class="text-decoration-underline">Remove from edit set</span>
        </a>
    </div>
</div>
