{% extends "patterns/base_page.html" %}

{% block content %}
<div>
    <main>

        <div>

            {% include "patterns/molecules/page-heading/page-heading.html" %}

            <div class="filters row mb-4">
                <h2 class="visually-hidden">Filter edit sets by:</h2>
                <div class="col">
                    {% include "patterns/atoms/text-input/text-input.html" with field=filterSearch label_hidden=True %}
                </div>
                <div class="col">
                    {% include "patterns/atoms/select/select.html" with field=selectOne label_hidden=True %}
                </div>
                <div class="col">
                    {% include "patterns/atoms/select/select.html" with field=selectTwo label_hidden=True %}
                </div>
            </div>

            {% if filter_summary %}
                <h2 class="filter-summary h4">{{ filter_summary }}</h2>
            {% endif %}

        </div>

        <div class="bg-white p-3 border mb-5">
            <table class="table table-hover table--space table--sticky-header">
                <thead>
                    <tr>
                        <th class="bg-white" scope="col">Title</th>
                        <th class="bg-white" scope="col">Records</th>
                        <th class="bg-white" scope="col">Last edited</th>
                        <th class="bg-white" scope="col">Access</th>
                        <th class="bg-white" scope="col">Comments</th>
                        <th class="bg-white" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in edit_sets %}
                        {% include "patterns/molecules/edit-set-overview/edit-set-overview.html" with item=item %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% include "patterns/organisms/modal/history-modal.html" %}
        {% include "patterns/organisms/modal/comment-modal.html" %}
        {% include "patterns/organisms/modal/add-comment-modal.html" %}

        {% if dataset_toast %}
            {% include "patterns/molecules/toast/toast.html" %}
        {% endif %}

    </main>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){
        var element = document.getElementById("toast");
        // Create toast instance
        var myToast = new bootstrap.Toast(element);
        myToast.show();
    });
    </script>
{% endblock %}
