{% extends "patterns/base_page.html" %}

{% block content %}
<div>

        {% include "patterns/molecules/page-heading/page-heading.html" %}

        <div class="bg-white border mb-5 rounded-1 overflow-hidden">
            {% include "patterns/molecules/page-filters/page-filters.html" %}
            {% if filter_summary %}
            <div class="d-flex align-items-center mb-3 pt-3 pb-3 ps-4 pe-4 border-bottom">
                <h2 class="filter-summary h5 m-0">{{ filter_summary }}</h2>
            </div>
            {% endif %}

            <div class="mb-5">
                <table class="table table-hover table--edge-to-edge table--space table--sticky-header">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Records</th>
                            <th scope="col">Last edited</th>
                            <th scope="col">Access</th>
                            <th scope="col">Comments</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in edit_sets %}
                            {% include "patterns/molecules/edit-set-overview/edit-set-overview.html" with item=item %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        {% include "patterns/organisms/modal/history-modal.html" %}
        {% include "patterns/organisms/modal/comment-modal.html" %}
        {% include "patterns/organisms/modal/add-comment-modal.html" %}
        {% include "patterns/organisms/modal/move-modal.html" %}
        {% include "patterns/organisms/modal/abandon-modal.html" with type="edit set" %}
        {% include "patterns/organisms/modal/add-contributor-modal.html" %}
        {% include "patterns/organisms/modal/add-edit-project-modal.html" %}

        {% if toast %}
            {% include "patterns/molecules/toast/toast.html" with item=toast %}
        {% endif %}

</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){
        var element = document.getElementById("toast");
        // Create toast instance
        var myToast = new bootstrap.Toast(element);
        myToast.show();
    });
    </script>
{% endblock %}
