{% extends "patterns/base_page.html" %}

{% block content %}
<div>

        {% include "patterns/molecules/page-heading/page-heading.html" %}

        <div class="projects">
            {% if dashboard %}
                <h2 class="mb-4 h4">Your ongoing projects (2)</h2>
            {% endif %}
            <div class="d-flex">
                {% for item in ongoing_projects %}
                    {% include "patterns/molecules/project-item/project-item.html" with item=item %}
                {% endfor %}
            </div>
        </div>

        <div class="bg-white border mb-5 rounded-1 overflow-hidden">
            {% include "patterns/molecules/page-filters/page-filters.html" %}
            {% if filter_summary %}
            <div class="d-flex align-items-center mb-3 pt-3 pb-3 ps-4 pe-4 border-bottom">
                <h2 class="filter-summary h5 m-0">{{ filter_summary }}</h2>
            </div>
            {% endif %}

            <div class="mb-5">
                <table class="table table-hover table--edge-to-edge table--space table--sticky-header">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Records</th>
                            <th scope="col">Last edited</th>
                            <th scope="col">Access</th>
                            <th scope="col">Contributor(s)</th>
                            <th scope="col">Comments</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in edit_sets %}
                            {% include "patterns/molecules/edit-set-overview-manager/edit-set-overview-manager.html" with item=item %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        {% include "patterns/organisms/modal/history-modal.html" %}
        {% include "patterns/organisms/modal/comment-modal.html" %}
        {% include "patterns/organisms/modal/add-comment-modal.html" %}
        {% include "patterns/organisms/modal/move-modal.html" %}
        {% include "patterns/organisms/modal/abandon-modal.html" with type="edit set" %}
        {% include "patterns/organisms/modal/add-contributor-modal.html" %}
        {% include "patterns/organisms/modal/add-edit-project-modal.html" %}

        {% if toast %}
            {% include "patterns/molecules/toast/toast.html" with item=toast %}
        {% endif %}

</div>

{% endblock %}

{% block extra_js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/variable-pie.js"></script>
    <script type="text/javascript">
        // document.addEventListener("DOMContentLoaded", function(){
        //     var element = document.getElementById("toast");
        //     // Create toast instance
        //     var myToast = new bootstrap.Toast(element);
        //     myToast.show();
        // });

        // Tooltip
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        Highcharts.chart('chart-1', {
            chart: {
                type: 'variablepie',
                plotBackgroundColor: '#ecf2fa',
                plotBorderWidth: null,
                plotShadow: false,
                margin: [0, 0, 0, 0]
            },
            title: false,
            tooltip: {
                headerFormat: '',
                pointFormat: '{point.y} in {point.name}'
            },
            plotOptions: {
                variablepie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false,
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                minPointSize: 10,
                innerSize: '40%',
                name: 'stages',
                data: [{
                    name: 'Release',
                    y: 3
                }, {
                    name: 'Editorial',
                    y: 10
                }, {
                    name: 'Contribution',
                    y: 2
                }]
            }]
        });

        Highcharts.chart('chart-2', {
            chart: {
                type: 'variablepie',
                plotBackgroundColor: '#ecf2fa',
                plotBorderWidth: null,
                plotShadow: false,
                margin: [0, 0, 0, 0]
            },
            title: false,
            tooltip: {
                headerFormat: '',
                pointFormat: '{point.y} in {point.name}'
            },
            plotOptions: {
                variablepie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false,
                    }
                }
            },
            credits: {
                enabled: false
            },
            xAxis: {
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    enabled: false
                }
            },
            series: [{
                minPointSize: 10,
                innerSize: '40%',
                name: 'stages',
                data: [{
                    name: 'Release',
                    y: 6
                }, {
                    name: 'Editorial',
                    y: 21
                }, {
                    name: 'Contribution',
                    y: 60
                }]
            }]
        });
    </script>
{% endblock %}
