.badge {
    font-weight: 500;
    transition: background-color $transition;

    &a {
        &:hover {
            background-color: $color--off-black !important;
            color: $color--white !important;
        }
    }
}
