.table {
    &--sticky-header {
        position: relative;

        thead {
            th {
                position: sticky;
                top: 0;
            }
        }
    }

    &--space {
        > :not(caption) > * > * {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

        th {
            padding-top: 0.5rem !important;
            padding-bottom: 1rem !important;
        }
    }
}
