{% extends "patterns/base_page.html" %}

{% block content %}
    <div class="page">

        <div class="page__header">

            <div class="record-sets mb-4">
                {% if page.record_sets %}
                <div class="record-sets--inline record-sets--heirarchy mb-1">
                    {% for item in page.record_sets %}
                        <div class="record-sets__container d-flex align-items-center mb-0">
                            {% for item in item.heirarchy %}
                                <div class="record-sets__item">
                                    {% include "patterns/atoms/badge/badge.html" with field=item %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if page.directories %}
                <div class="d-flex align-items-center mb-1 record-sets--inline record-sets--directories">
                    {% for item in page.directories %}
                        <div class="record-sets__item">
                            {% include "patterns/atoms/badge/badge.html" with field=item %}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if page.labels %}
                <div class="d-flex align-items-center mb-1 record-sets--labels">
                    {% for item in page.labels %}
                        <div class="me-1">
                            {% include "patterns/atoms/badge/badge.html" with field=item %}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="page-heading mb-4">
                {% if page.title %}<h1 class="page-heading__heading">{{ page.title }}</h1>{% else %}<h1>Add a record</h1>{% endif %}
            </div>
            {% if page.pac or page.type %}
                <div class="d-flex align-items-center">
                    {% if page.pac %}<p class="mb-4 me-4 fw">PAC-ID: {{ page.pac }}</p>{% endif %}
                    {% if page.type %}<p class="mb-4 fw">{{ page.type }}</p>{% endif %}
                </div>
            {% endif %}
        </div>

        <div class="page__content">

            <div class="row">
                <div class="col-9">
                    <div data-bs-spy="scroll" data-bs-target="#record-index" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                        <div id="content" class="mb-5 bg-white mb-4 rounded-1 p-4 pb-0 border">
                            <h2>Intellectual properties</h2>
                            <p class="mb-5">Describes the records abstract information, information that is the same for physical and digital items.</p>

                            {% include "patterns/atoms/textarea/textarea.html" with field=fieldScope %}
                            {% include "patterns/atoms/text-input/text-input.html" with field=fieldOne %}
                            {% include "patterns/atoms/text-input/text-input.html" with field=fieldTwo %}
                            {% include "patterns/atoms/autocomplete/autocomplete.html" with field=fieldThree %}
                            <div class="row">
                                <div class="col-4">
                                    {% include "patterns/atoms/text-input/text-input.html" with field=fieldFour %}
                                </div>
                                <div class="col-4">
                                    {% include "patterns/atoms/text-input/text-input.html" with field=fieldFive %}
                                </div>
                            </div>
                            {% include "patterns/atoms/text-input/text-input.html" with field=fieldCoveringdates %}
                            {% include "patterns/atoms/datalist/datalist.html" with field=fieldSix %}
                            {% include "patterns/atoms/text-input/text-input.html" with field=fieldHistory %}
                            <!-- language no longer in IP {% include "patterns/atoms/autocomplete/autocomplete.html" with field=fieldTen %} -->
                            {% include "patterns/atoms/datalist/datalist.html" with field=fieldEleven %}
                            {% include "patterns/atoms/textarea/textarea.html" with field=fieldTwelve %}
                            <!-- Coverage start and end date no longer in IP <div class="row">
                                <div class="col-4">
                                    {% include "patterns/atoms/text-input/text-input.html" with field=fieldCoverageStart %}
                                </div>
                                <div class="col-4">
                                    {% include "patterns/atoms/text-input/text-input.html" with field=fieldCoverageEnd %}
                                </div>
                            </div> -->
                            {% include "patterns/atoms/text-input/text-input.html" with field=fieldArrangement %}
                            {% include "patterns/atoms/textarea/textarea.html" with field=fieldPublicationnote %}
                            {% include "patterns/atoms/textarea/textarea.html" with field=fieldUnpublishedfindingaids %}
                            {% include "patterns/atoms/textarea/textarea.html" with field=fieldRelatedmaterial %}
                            {% include "patterns/atoms/textarea/textarea.html" with field=fieldSeparatedmaterial %}
                            {% include "patterns/atoms/textarea/textarea.html" with field=fieldArchivistNote %}
                        </div>

                        {% if page.realisations %}
                            <div id="realisations" class="mb-5 bg-white mb-4 rounded-1 p-4 pb-0 border">
                                <h2 class="mb-5">Realisation{% if page.realisations|length > 1 %}(s){% endif %}</h2>

                                <div class="accordion accordion-flush mb-5" id="accordionExample">
                                    {% for item in page.realisations %}
                                        <div class="accordion-item">
                                            <div class="accordion-header" id="heading-{{ forloop.counter }}">
                                                <button class="accordion-button border-start ps-4 {% if page.realisations|length > 1 %}collapsed{% endif %}" style="border-width: 4px !important;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                                                    <div>
                                                        <h3 class="mb-3">{{ item.title }}</h3>
                                                        <p class="{% if item.files %}mb-3{% else %}mb-2{% endif %} me-5">{{ item.description }}</p>
                                                        {% if item.files %}<h4 class="mb-2 h5">{{ item.files|length }} digital file{% if item.files|length > 1 %}s{% endif %}</h4>{% endif %}
                                                    </div>
                                                </button>
                                            </div>
                                            <div id="collapse-{{ forloop.counter }}" class="accordion-collapse {% if page.realisations|length > 1 %}collapse{% endif %}" aria-labelledby="heading-{{ forloop.counter }}" data-bs-parent="#accordionExample">
                                                <div class="accordion-body pt-4">
                                                    <div class="bg-light p-4 mb-4 sticky-top">
                                                        {% include "patterns/molecules/realisation-meta/realisation-meta.html" %}
                                                    </div>

                                                    <div class="realistion-files me-4 ps-4">
                                                        {% if item.files %}<h4 class="mb-4 h5">Digital files ({{ item.files|length }}):</h4>{% endif %}
                                                        <div class="d-flex align-items-center flex-wrap">
                                                            {% for file in item.files %}
                                                                <div class="file-card mb-4 border me-2 p-3 bg-light rounded" style="width: 30%;">
                                                                    <h5 class="mb-1 h6 text-decoration-underline"><a data-bs-toggle="modal" data-bs-target="#realisationFileModal">{{ file.title }}</a></h5>
                                                                    {% if file.filesize or file.format %}<p class="mb-0">{% if file.filesize %}{{ file.filesize }} - {% endif %}{% if file.format %}{{ file.format }}{% endif %}</p>{% endif %}
                                                                    <p class="mb-0">{{ file.date_added }}</p>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>

                                                    <div class="realisation-form-fields ps-4">
                                                        {% include "patterns/atoms/textarea/textarea.html" with field=realisationfieldScope %}
                                                        {% include "patterns/atoms/text-input/text-input.html" with field=realisationmapFieldOne %}
                                                        {% include "patterns/atoms/text-input/text-input.html" with field=realisationmapFieldTwo %}
                                                        {% include "patterns/atoms/datalist/datalist.html" with field=realisationmapFieldThree %}
                                                        {% include "patterns/atoms/text-input/text-input.html" with field=realisationfieldSeven %}
                                                        {% include "patterns/atoms/text-input/text-input.html" with field=realisationfieldEight %}
                                                        {% include "patterns/atoms/text-input/text-input.html" with field=realisationfieldNine %}
                                                        {% include "patterns/atoms/autocomplete/autocomplete.html" with field=realisationfieldTen %}
                                                        {% include "patterns/atoms/autocomplete/autocomplete.html" with field=realisationfieldThree %}
                                                        {% include "patterns/atoms/datalist/datalist.html" with field=realisationfieldEleven %}
                                                        {% include "patterns/atoms/text-input/text-input.html" with field=realisationaccessEight %}
                                                        {% include "patterns/atoms/text-input/text-input.html" with field=realisationaccessNine %}
                                                        {% include "patterns/atoms/text-input/text-input.html" with field=realisationaccessThirteen %}
                                                        {% include "patterns/atoms/text-input/text-input.html" with field=realisationaccessFourteen %}
                                                        {% include "patterns/atoms/text-input/text-input.html" with field=realisationfieldArrangement %}
                                                        {% include "patterns/atoms/textarea/textarea.html" with field=realisationfieldPublicationnote %}
                                                        {% include "patterns/atoms/textarea/textarea.html" with field=realisationfieldSeparatedmaterial %}
                                                        {% include "patterns/atoms/textarea/textarea.html" with field=realisationfieldNote %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <div id="access" class="mb-5 bg-white mb-4 rounded-1 p-4 pb-0 border">
                            <h2 class="mb-5">Access</h2>
                            <!-- {% include "patterns/atoms/radios/radios.html" with field=accessDescription %}
                            {% include "patterns/atoms/radios/radios-conditional.html" with field=accessRecord %} -->
                            {% include "patterns/atoms/text-input/text-input.html" with field=accessOne %}
                            {% include "patterns/atoms/text-input/text-input.html" with field=accessTwo %}
                            {% include "patterns/atoms/text-input/text-input.html" with field=accessThree %}
                            {% include "patterns/atoms/text-input/text-input.html" with field=accessFour %}
                            {% include "patterns/atoms/text-input/text-input.html" with field=accessFive %}
                            {% include "patterns/atoms/text-input/text-input.html" with field=accessSix %}
                            {% include "patterns/atoms/text-input/text-input.html" with field=accessSeven %}
                            <!-- Source of acquisition now in realisation {% include "patterns/atoms/text-input/text-input.html" with field=accessEight %} -->
                            <!-- Custodial history now in realisation {% include "patterns/atoms/text-input/text-input.html" with field=accessNine %} -->
                            {% include "patterns/atoms/text-input/text-input.html" with field=accessThirteen %}
                            {% include "patterns/atoms/text-input/text-input.html" with field=accessFourteen %}
                        </div>

                        <div id="history" class="mb-5 bg-white mb-4 rounded-1 p-4 pb-0 border">
                            <h2 class="mb-5">Admin History</h2>
                            {% include "patterns/atoms/textarea/textarea.html" with field=fieldAdminHistory %}
                        </div>

                        {% if page.index_terms %}
                            <div id="terms" class="mb-5 bg-white mb-4 rounded-1 p-4 pb-0 border">
                                <h2 class="mb-5">Index terms</h2>
                                {% include "patterns/atoms/autocomplete/autocomplete.html" with field=fieldIndexTermsOne %}
                                {% include "patterns/atoms/autocomplete/autocomplete.html" with field=fieldIndexTermsTwo %}
                                {% include "patterns/atoms/autocomplete/autocomplete.html" with field=fieldIndexTermsThree %}
                                {% include "patterns/atoms/autocomplete/autocomplete.html" with field=fieldIndexTermsFour %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-3">
                    <div class="sticky-top" style="top: 30px;">
                        <div id="record-index" class="list-group mb-4">
                            <a class="list-group-item list-group-item-action" href="#content">Intellectual properties</a>
                            {% if page.realisations %}<a class="list-group-item list-group-item-action" href="#realisations">Realisation{% if page.realisations|length > 1 %}(s){% endif %}</a>{% endif %}
                            <a class="list-group-item list-group-item-action" href="#access">Access</a>
                            <a class="list-group-item list-group-item-action" href="#history">Admin History</a>
                            {% if page.index_terms %}<a class="list-group-item list-group-item-action" href="#terms">Index terms</a>{% endif %}
                        </div>

                        {% include "patterns/molecules/record-meta/record-meta.html" %}

                        <button class="btn btn-primary mb-2" id="save">Save</button>
                        <a class="d-block" href="{{ page.save_link }}">{{ page.save_text }}</a>
                    </div>
                </div>
            </div>

        </div>

        {% if toast %}
            {% include "patterns/molecules/toast/toast.html" with item=toast %}
        {% endif %}

        {% if history %}
            {% include "patterns/organisms/modal/history-modal.html" %}
        {% endif %}
        {% if comments %}
            {% include "patterns/organisms/modal/comment-modal.html" %}
        {% endif %}
        {% include "patterns/organisms/modal/add-comment-modal.html" %}
        {% include "patterns/organisms/modal/abandon-modal.html" with type="record" %}
        {% include "patterns/organisms/modal/realisation-modal.html" %}
        {% include "patterns/organisms/modal/realisation-file-modal.html" %}

    </div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
{% endblock %}

{% block extra_js_lib %}
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.tiny.cloud/1/hnsrp0hxpa6j2nodznhqfz1kc8peudd89zzg2bhbxnfrzeod/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        var scrollSpy = new bootstrap.ScrollSpy(document.body, {
            target: '#record-index'
        });

        var toastTrigger = document.getElementById('save')
        var toastLiveExample = document.getElementById('toast')
        if (toastTrigger) {
            toastTrigger.addEventListener('click', function () {
                var toast = new bootstrap.Toast(toastLiveExample)

                toast.show()
            })
        }

        tinymce.init({
            selector: '#scope',
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount autoresize'
            ],
            toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        });
    </script>
{% endblock %}
