<div class="filters d-flex align-items-center p-3 ps-4 pe-4 mb-4 border-bottom">
    <h2 class="visually-hidden">Filter records by:</h2>
    <div class="me-2 w-50">
        {% include "patterns/atoms/text-input/text-input.html" with field=filterSearch label_hidden=True no_margin=True %}
    </div>
    <div class="me-2">
        {% include "patterns/atoms/select/select.html" with field=selectOne label_hidden=True %}
    </div>
    <div class="me-2">
        {% include "patterns/atoms/select/select.html" with field=selectTwo label_hidden=True %}
    </div>
    {% if reset %}
        <div class="me-2 d-flex align-items-center">
            <a href="../edit-set/edit-set.html" class="d-flex align-items-center text-decoration-none">
                <span class="material-icons">restart_alt</span>
                <span> Reset filters</span>
            </a>
        </div>
    {% endif %}
</div>
